* text=auto
* eol=lf
*.jpg binary
*.ttf binary
*.png binary
*.PNG binary
*.gif binary
*.a.* binary
*.a binary
*.so binary
*.so.* binary
*.apk -text
*.jar -text
*.ttf binary
*.exe binary
*.bin binary
*.axf binary
*.elf binary
*.rom binary
symbol.map binary
